<head>
    <title>Home</title>
</head>

<body>

    <nav>
        <a href="home">Home</a>
        <ul class="flex items-center justify-evenly">

            <li>
                <a routerLink="/bootstrap" routerLinkActive="active">Bootstrap</a>
            </li>
            <li>
                <a routerLink="/pricepanel" routerLinkActive="active">Price Panel</a>
            </li>
            <li>
                <a routerLink="/gridsystem" routerLinkActive="active">Grid System</a>
            </li>

        </ul>
        <a href="Signup">Sign Up</a>
    </nav>

    <h1>Media Queries</h1>



</body>

<router-outlet></router-outlet>